@using SQuiz.Shared.Interfaces
@inject IPlayGameService PlayGameService

<QuizAnimationBase IsActive="_isActive" AnimationDuration="4">
    <div class="ready ready-3">3</div>
    <div class="ready ready-2">2</div>
    <div class="ready ready-1">1</div>
    <div class="ready ready-start">start</div>
</QuizAnimationBase>

@code {
    bool _isActive;

    private void OnStartPreparing()
    {
        TriggerAnimation(true);
    }

    private void OnPrepared()
    {
        TriggerAnimation(false);
    }

    private void TriggerAnimation(bool isActive)
    {
        _isActive = isActive;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        PlayGameService.OnStartPreparing += OnStartPreparing;
        PlayGameService.OnPrepared += OnPrepared;
    }
}