@page "/"
@using SQuiz.Client.Pages.Game
@using SQuiz.Client.Pages.Game.InitGameSteps
@using SQuiz.Shared.Models
@using SQuiz.Client.Shared.Components
@using SQuiz.Client.Pages.EditQuizSteps
@using SQuiz.Client.Pages.ManageQuizes

@inject HttpClient Http

<div class="container">
    <PageTitle>Quizzes</PageTitle>
    <AuthorizeView>
        <Authorized>
            <QuizTable></QuizTable>
        </Authorized>
        <NotAuthorized>
            <InitGameComponent></InitGameComponent>
        </NotAuthorized>
    </AuthorizeView>
</div>