@using SQuiz.Client.Shared.Components
@using SQuiz.Shared.Dtos.Quiz
<StepItem Title="Quiz" Order="0">
        <div class="pa-2">
            <ValidationErrorMessage Model="Parent.Model" For="Name" ValidationResult="Parent.ValidationResult"></ValidationErrorMessage>
            <MudTextField
                T="string"
                Variant="Variant.Outlined"
                Label="Name for Quiz *"
                Class="pt-2 pb-2"
                @bind-Text="Model.Name"/>
            <MudTextField
                T="string"
                Variant="Variant.Outlined"
                Label="Description"
                Class="pt-2 pb-2"
                Lines="4"
                @bind-Text="Model.Description"/>
            <MudCheckBox Label="Is public"
                T="bool"
                Class="pt-2 pb-2"
                Color="Color.Primary"
                @bind-Checked="Model.IsPublic"/>
            <MudButton 
                Color="Color.Primary"
                Variant="Variant.Filled"
                Class="mx-auto" 
                @onclick="Parent.Save">
                Save and configure next steps later
            </MudButton>
        </div>
</StepItem>

@code {
    [CascadingParameter]
    public QuizSteps Parent { get; set; }

    public EditQuizDto Model => Parent.Model;

    public EditQuizDto? InitialModel => Parent.InitialModel;
}