.play-game-container {
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.play-game-card {
    max-height: 98vh
}

.variant {
    font-size: 2rem;
    color: white;
    background-color: gray;
}

.variant-a {
    background-color: green;
}

.variant-b {
    background-color: red;
}

.variant-c {
    background-color: blue;
}

.variant-d {
    background-color: gold;
}

.variant-e {
    background-color: darkmagenta;
}

.variant-f {
    background-color: salmon;
}

.variant-g {
    background-color: mediumturquoise;
}

.variant-h {
    background-color: brown;
}