@page "/play/showGame"
@layout PlayerLayout
@using SQuiz.Client.Services
@using SQuiz.Shared.Dtos.Game

@inject ICookieStoreService CookieStoreService
@inject ISessionStorageService SessionStorage
@inject PublicClient Http
@inject NavigationManager Nav

<LoadingWrapper WaitFor="Game">
    <div class="container">
        <div class="m-1 alert alert-heading">You are playing '@Game.Name'.</div>
        <div class="m-1 alert alert-info">Game contains @(Game.QuestionCount) questions.</div>
        <div class="m-1 alert alert-info">When you are ready, press start.</div>
        <button class="m-1 btn btn-primary" @onclick="Start">Start</button>
    </div>
</LoadingWrapper>

@code {
    public GameOptionDto? Game; 

    protected override async Task OnInitializedAsync()
    {
        var playerId = (await CookieStoreService.GetAsync("playerId"))?.Value;

        if (playerId == null)
        {
            Nav.NavigateTo(Nav.BaseUri);
        }

        Game = await SessionStorage.GetItemAsync<GameOptionDto>("game");
    }

    public async Task Start()
    {
        await CookieStoreService.SetAsync(new Cookie() 
        {
            Name = "questionIndex",
            Value = "0"
        });

        Nav.NavigateTo("play");
    }
}